body {
  font-family: Arial;
}

.intro {
  font-size: xx-large;
  font-weight: 600;
  position: relative;
  width: 500px;
  margin: auto;
  text-align: center;
}

.step {
  position: absolute;
  display: none;
}

.step:first-child {
  display: block;
}
