html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Catamaran', sans-serif;
}

figure[id="1"], div[id="2"], div[id="3"], nav[id="4"], div[id="5"] {
  display: none;
}

/* section scroll */

.contents {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 2;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.contents li {
  display: inline-block;
  margin: 10px;
  background-color: rgba(255,255,255,.3);
  border-radius: 10px;
  font-size: larger;
  letter-spacing: 1.5px;
  padding: 6px 19px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  -moz-transition: linear 0.2s background-color;
  -o-transition: linear 0.2s background-color;
  -webkit-transition: linear 0.2s background-color;
  transition: linear 0.2s background-color;
}

.contents li:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.contents .active {
  background-color: white;
}

.contents .active:hover {
  background-color: white;
}

.outer-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
}

.left-container, .right-container {
  height: 100%;
  width: 50%;
  position: relative;
}


.left-scroll, .right-scroll {
  height: calc(100vh * 6);
  width: 100%;
  position: absolute;
  transition: .5s top ease-in, .5s bottom ease-in;
  transition-delay: .3s;
}

.left-scroll {
  top: 0%;
}

.right-scroll {
  bottom: 0%;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 {
  background-image: linear-gradient(#ffebc6 0%, #ad925f 100%);
  color: #4a3104;
}

.section2 {
  height: 100vh;
  width: 100%;
}

.left-container .section2 {
  background-image: radial-gradient(at 100% 50%, black, #110221);
  height: 100vh;
  width: 100%;
}

.right-container .section2 {
  background-image: radial-gradient(at 0% 50%, black, #110221);
  height: 100vh;
  width: 100%;
}
.left-container .section4 {
  background-image: radial-gradient(at 100% 50%, #428098, #110221);
}

.right-container .section4 {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(at 0% 50%, #428098, #110221);
}

.right-container .section6 {
  background-image: url('./images/stars_right.jpg');
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.intro {
  font-size: xx-large;
  font-weight: 900;
  width: 60%;
  text-align: center;
  position: relative;
  height: 30%;
}

.step {
  position: absolute;
  display: none;
}

.step:first-child {
  display: block;
}

/* Spinners */


.showbf {
  backface-visibility: visible;
}

.section6 {
  background-color; black;
}

.box1, .box2 {
  top: 0px;
  position: absolute;
}

.box1 {
  left: 15%;
}

.container {
  height: 400px;
  border: none;
	perspective: 1000px;
  perspective-origin: 50% 50%;
}

.cube {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.cube .face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /*border: 2px solid white;*/
  line-height: 62px;
  font-family: sans-serif;
  font-size: 60px;
  color: white;
  text-align: center;
  transition: transform .3s;
}

.face:hover {
  outline: 2px cornflowerblue dashed;
  border: none;
  background-color: rgba(100,149,237,.8);
}
/* Define each face based on direction */

.rfront {
  background: rgba(23,69,214,0.7);
}

.front {
  background: url('./images/M1-67_&_WR124.png');
  background-size: cover;
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -o-transform: translateZ(100px);
  transform: translateZ(100px);
}

.rotating .container:hover .front {
  border: 2px solid white;
	-webkit-transform:transform: translateZ(275px);
	-moz-transform:transform: translateZ(275px);
	-o-transform:transform: translateZ(275px);
	transform: translateZ(275px);
}

.rback {
  background: rgba(0, 255, 0, .7);
}

.back {
  background: url('./images/internship-blackhole.png');
  background-size: cover;
  color: black;
  -webkit-transform: rotateY(180deg) translateZ(100px);
  -moz-transform: rotateY(180deg) translateZ(100px);
  -o-transform: rotateY(180deg) translateZ(100px);
  transform: rotateY(180deg) translateZ(100px);
}

.rotating .container:hover .back {
  border: 2px solid white;
  transform: rotateY(180deg) translateZ(275px);

}

.rright {
  background: rgba(196, 0, 0, 0.7);
}

.right {
  background: url("./images/1purple_starry_sky.png");
  background-size: cover;
  -webkit-transform: rotateY(-270deg) translateZ(100px);
  -moz-transform:rotateY(-270deg) translateZ(100px);
  -o-transform:rotateY(-270deg) translateZ(100px);
  transform: rotateY(-270deg) translateZ(100px);
}

.rotating .container:hover .right {
  border: 2px solid white;
  -webkit-transform:rotateY(-270deg) translateZ(275px);
  -moz-transform:rotateY(-270deg) translateZ(275px);
  -o-transform:rotateY(-270deg) translateZ(275px);
  transform: rotateY(-270deg) translateZ(275px);

}

.rleft {
  background: rgba(0, 196, 164, 0.7);
}

.left {
  background: url('./images/brightstars.png');
  background-size: cover;
  -webkit-transform:rotateY(270deg) translateZ(100px);
  -moz-transform:rotateY(270deg) translateZ(100px);
  -o-transform:rotateY(270deg) translateZ(100px);
  transform: rotateY(270deg) translateZ(100px);
}

.rotating .container:hover .left {
  border: 2px solid white;
  -webkit-transform:rotateY(270deg) translateZ(275px);
  -moz-transform:rotateY(270deg) translateZ(275px);
  -o-transform:rotateY(270deg) translateZ(275px);
  transform: rotateY(270deg) translateZ(275px);
}

.rtop {
  background: rgba(196, 196, 0, 0.7);
}

.top {
  background: url('./images/darkstarry.png');
  background-size: cover;
  -webkit-transform:rotateX(-270deg) translateZ(100px);
  -moz-transform:rotateX(-270deg) translateZ(100px);
  -o-transform:rotateX(-270deg) translateZ(100px);
  transform: rotateX(-270deg) translateZ(100px);
}

.rotating .container:hover .top {
  border: 2px solid white;
  -webkit-transform:rotateX(-270deg) translateZ(275px);
  -moz-transform:rotateX(-270deg) translateZ(275px);
  -o-transform:rotateX(-270deg) translateZ(275px);
  transform: rotateX(-270deg) translateZ(275px);
}

.rbottom {
  background: rgba(196, 0, 196, 0.7);
}

.bottom {
  background: url('./images/treestars.png');
  background-size: cover;
  -webkit-transform:rotateX(270deg) translateZ(100px);
  -moz-transform:rotateX(270deg) translateZ(100px);
  -o-transform:rotateX(270deg) translateZ(100px);
  transform: rotateX(270deg) translateZ(100px);
}

.rotating .container:hover .bottom {
  border: 2px solid white;
  -webkit-transform:rotateX(270deg) translateZ(275px);
  -moz-transform:rotateX(270deg) translateZ(275px);
  -o-transform:rotateX(270deg) translateZ(275px);
	transform: rotateX(270deg) translateZ(275px);
}

@keyframes rotate {
  from {transform: rotateX(0deg) rotateY(0deg);}
  to {transform: rotateX(360deg) rotateY(360deg);}
}

.rotating .container .cube {
  -webkit-transform:rotate 20s infinite linear;
  -moz-transform:rotate 20s infinite linear;
  -o-transform:rotate 20s infinite linear;
  animation: rotate 20s infinite linear;
}

.section3, .layered-spinner {
  background-position: 0% 0%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('./images//stars4.jpg');
}

.spinner-container {
  perspective: 800px;
  margin: 200px 0px;
}

.spinner {
  margin: auto;
  position: relative;
  display: block;
  position: relative;
  margin: 30px auto;
  background-blend-mode: luminosity;
  transform-style: preserve-3d;
  background-image: url('./images//css_darkblue.png');
  background-size: cover;
 }

 .spinner:hover {
   animation: animate-y 5s infinite linear;
 }

 @keyframes animate-y {
  0% { transform: rotateY(0); }
  100% { transform: rotateY(360deg); }
}

.spinner, #front, #back {
  height: 256px;
  width: 256px;
}

#front, #back {
  position: absolute;
  backface-visibility: visible;
}

#front {
  transform: translateZ(100px);
}

#back {
  transform: translateZ(-100px);
}


figure {
  font-weight: 600;
}

.rotating {
  align-self: flex-end;
  padding-bottom: 10%;
}

.buttons {
  display: flex;
  margin-bottom: 50px;
  margin-left: -80px;
  margin-top: -117px;
}


.button {
	background-color:#3bb3e0;
	font-family: 'Catamaran';
	font-size: xx-large;
  color: #fefefa;
  z-index: 100;
	color:#fff;
	position:relative;
	padding:10px 30px;
	border-left:2px solid #2ab7ec;
  border-right: 2px solid #2b9bc5;
	background-image: linear-gradient(rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 13px 5px #282b4a;
	cursor: pointer;
}

.button:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
  border-left: none;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 13px 5px #232642;
}

.button:nth-child(2) {
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 13px 5px #272a48;
}

.button:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
  border-right: none;
	box-shadow: inset 0px 2px 2px #2ab7ec, 0px 5px 0px 0px #156785, 4px 10px 5px #282b4a, 0px 13px 5px #282b4a
}

.button:active {
	top:3px;
	background-image: linear-gradient(rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  border-left: 2px solid #0b698b;
  border-right: 2px solid #2b9bc5;
	box-shadow: inset 0px 1px 0px #2ab7ec, inset 5px 0px 5px #0b698b, 0px 2px 0px 0px #156785, 0px 6px 3px #282b4a;
}

.button:active:first-child {
  border-left: none;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #282b4a;
}

.button:active:last-child {
  border-right: none;
	box-shadow: inset 0px 1px 0px #2ab7ec, inset 5px 0px 5px #0b698b, 0px 2px 0px 0px #156785, 1px 4px 5px #282b4a, 0px 4px 3px #282b4a;
}


.box {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.show-back {
  transform: rotateX(-180deg) translateY(200px) translateZ(50px) translatex(10px);
}

.show-front {
  transform: translateZ(-50px) translatex(11px);
}

.show-bottom {
  transform: rotateX(90deg) translatez(100px) translatex(7px);
}

.show-top {
  transform: translatez(-200px) translatey(-106px) translatex(7px) rotateX(-90deg);
}

.show-right {
  transform: rotateY(-90deg) rotateX(90deg) translatey(137px) translatez(100px);
}

.show-left {
  transform: rotateY(90deg) rotateX(90deg) translatey(58px) translatez(100px) translatex(100px);
}

.rface {
  display: block;
  position: absolute;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  text-align: center;
  font-size: x-large;
}

.rfront, .rback, .rtop, .rbottom {
  width: 300px;
}

#flip3 {
  transform: rotateZ(-90deg);
  margin-top: 43px;
}

#flip4 {
  transform: rotateZ(90deg);
  margin-top: 43px;
}

.rfront, .rback, .rleft, .rright {
  height: 200px;
}

.rleft, .rright {
  width: 100px;
  left: 100px;
}

.rtop, .rbottom {
  height: 100px;
  top: 50px;
  line-height: 35px;
}

.rfront, .rback {
  line-height: 70px;
}

.rfront {
  transform: translateZ(50px);
}

.rback {
  transform: rotateX(180deg) translateZ(50px);
}

.rtop {
  transform: rotateX(90deg) translateZ(100px);
}

.rbottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.rleft {
  transform: rotateY(-90deg) translateZ(150px);
}

.rright {
  transform: rotateY(90deg) translateZ(150px);
}

/* nav bars */

.goo-container {
  position: absolute;
  left: 65%;
  z-index: 2;
  top: 25%;
}

.gooey-title {
  margin: 0px;
  color: #6082B6;
  font-size: 8em;
  z-index: 99;
  text-shadow: 0px 2px 4px black;
}

.section5 {
  position: relative;
}

.nav-links {
  margin-left: -59px;
  z-index: 99;
  -webkit-filter: url("#goo");
     -moz-filter: url("#goo");
       -o-filter: url("#goo");
          filter: url("#goo");
}

.nav-link, .open-menu-button {
  background-color: dodgerblue;
  border-radius: 100%;
  font-weight: 600;
  font-size: 20px;
  height: 90px;
  width: 90px;
  -webkit-transform-style: preserve-3d;
  position: absolute;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.nav-link {
  -webkit-transition: -webkit-transform ease-out 300ms;
  transition: -webkit-transform ease-out 300ms;
  transition: transform ease-out 300ms;
  transition: transform ease-out 300ms, -webkit-transform ease-out 300ms;
}

.open-menu {
  display: none;
}

.open-menu-button {
  cursor: pointer;
  z-index: 5;
  cursor: pointer;
  -webkit-transition-duration: 400ms;
     -moz-transition-duration: 400ms;
       -o-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1, 1);
     -moz-transform: scale(1, 1);
       -o-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-link:nth-child(3) {
  z-index: 4;
}

.nav-link:nth-child(4) {
  z-index: 3;
}

.nav-link:nth-child(5) {
  z-index: 2;
}

.nav-link:nth-child(6) {
  z-index: 1;
}

.open-menu:checked ~ .open-menu-button {
  transform: scale(.7, .7)
}

.open-menu:checked ~ .open-menu-button:hover {
  -webkit-transform: scale(.75, .75);
     -moz-transform: scale(.75, .75);
       -o-transform: scale(.75, .75);
          transform: scale(.75, .75);
}

.open-menu-button:hover {
  -webkit-transform: scale(1.2, 1.2);
     -moz-transform: scale(1.2, 1.2);
       -o-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.minus {
  height: 9px;
  width: 25px;
  background-color: white;
  display: block;
  position: absolute;
  border-radius: 5px;
  top: 46%;
  left: 36%;
}

.plus {
  height: 25px;
  width: 9px;
  background-color: white;
  display: block;
  position: absolute;
  border-radius: 5px;
  top: 37.25%;
  left: 45%;
  transition: all .4s;
}

.plus-hide {
  height: 8px;
  top: 46%;
}


.nav-link {
  line-height: 5;
  color: white;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 0 0px #198bfa;
}

.section5 {
  background-color: #a3dbf4;
}

.open-menu:checked ~ .nav-link:nth-child(3) {
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transform: translateX(125px);
          transform: translateX(125px);
}

.open-menu:checked ~ .nav-link:nth-child(3):hover {
  -webkit-transform: translateX(125px) scale(1.1, 1.1);
          transform: translateX(125px) scale(1.1, 1.1);
}

.open-menu:checked ~ .nav-link:nth-child(4) {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
}

.open-menu:checked ~ .nav-link:nth-child(4):hover {
  -webkit-transform: translateX(250px) scale(1.1, 1.1);
          transform: translateX(250px) scale(1.1, 1.1);
}

.open-menu:checked ~ .nav-link:nth-child(5) {
  -webkit-transition-duration: 450ms;
          transition-duration: 450ms;
  -webkit-transform: translateX(375px);
          transform: translateX(375px);
}

.open-menu:checked ~ .nav-link:nth-child(5):hover {
  -webkit-transform: translateX(375px) scale(1.1, 1.1);
          transform: translateX(375px) scale(1.1, 1.1);
}

.open-menu:checked ~ .nav-link:nth-child(6) {
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
}

.open-menu:checked ~ .nav-link:nth-child(6):hover {
  -webkit-transform: translateX(500px) scale(1.1, 1.1);
          transform: translateX(500px) scale(1.1, 1.1);
}



/* space */

.space {
  margin: auto;
  width: 100%;
  height: 100vh;
  background: url('./images/x-wing.png') no-repeat center 150px, url('./images/stars2.jpg'), no-repeat top right;
  transition: background-position 8s;
}

.space:hover {
  background-position: 400px 350px, bottom left;
}

.code {
  width: 100%;
  opacity: 0;
  transition: opacity .2s;
}
