html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Catamaran', sans-serif;
}

figure[id="1"], nav[id="4"], div[id="5"] {
  display: none;
}

/* section scroll */

.contents, .mobile-buttons {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 2;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.contents li, .mobile-buttons li {
  display: inline-block;
  margin: 10px;
  background-color: rgba(255,255,255,.3);
  border-radius: 10px;
  font-size: larger;
  letter-spacing: 1.5px;
  padding: 6px 19px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  -webkit-transition: linear 0.2s background-color;
          transition: linear 0.2s background-color;
}

.mobile-buttons li {
  width: 30%;
  text-align: center;
  z-index: 99;
}
.mobile-buttons {
  display: none;
}

.contents li:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.contents .active {
  background-color: white;
}

.contents .active:hover {
  background-color: white;
}

.outer-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0px;
  left: 0px;
}

.left-container, .right-container {
  height: 100%;
  width: 50%;
  position: relative;
}

@media (max-width: 800px) {
  .left-container {
    width: 100vw;
  }
  .right-container {
    width: 0;
  }
}

.left-scroll, .right-scroll {
  height: calc(100vh * 7);
  width: 100%;
  position: absolute;
  -webkit-transition: .5s top ease-in, .5s bottom ease-in;
  transition: .5s top ease-in, .5s bottom ease-in;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.left-scroll {
  top: 0%;
}

.right-scroll {
  bottom: 0%;
}

.section {
  contain: paint;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 {
  background-image: -webkit-linear-gradient(#ffebc6 0%, #ad925f 100%);
  background-image: linear-gradient(#ffebc6 0%, #ad925f 100%);
  color: #4a3104;
}

.section2 {
  background: #8b88ff;
}

.section3 {
  height: 100vh;
  width: 100%;
}

.left-container .section3 {
  background-image: -webkit-radial-gradient(at 100% 50%, black, #16032b);
  background-image: radial-gradient(at 100% 50%, black, #16032b);
  height: 100vh;
  width: 100%;
}

.right-container .section3 {
  background-image: -webkit-radial-gradient(at 0% 50%, black, #16032b);
  background-image: radial-gradient(at 0% 50%, black, #16032b);
  height: 100vh;
  width: 100%;
}

.left-container .section5 {
  background-image: -webkit-radial-gradient(at 100% 50%, #428098, #110221);
  background-image: radial-gradient(at 100% 50%, #428098, #110221);
}

.right-container .section5 {
  height: 100%;
  width: 100%;
  background-image: -webkit-radial-gradient(at 0% 50%, #428098, #110221);
  background-image: radial-gradient(at 0% 50%, #428098, #110221);
}

.right-container .section7 {
  background-image: url('./images/stars_right.jpg');
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* intro */

.intro {
  font-size: xx-large;
  font-weight: 900;
  width: 70%;
  text-align: center;
  position: relative;
  height: 30%;
}

.step {
  position: absolute;
  display: none;
}

.step:first-child {
  display: block;
}

/* Emojis */

.head, .eye, .mouth {
  display: block;
}

.head {
  position: absolute;
  top: 30%;
  left: 45%;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: -webkit-radial-gradient(at 50% 50%, #ffe02d 30%, #e98442 95%);
  background: radial-gradient(at 50% 50%, #ffe02d 30%, #e98442 95%);
  -webkit-transform: scale(.65);
          transform: scale(.65);
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transition: 1.25s -webkit-transform cubic-bezier(.87,-.41,.19,1.44);
  transition: 1.25s -webkit-transform cubic-bezier(.87,-.41,.19,1.44);
  transition: 1.25s transform cubic-bezier(.87,-.41,.19,1.44);
  transition: 1.25s transform cubic-bezier(.87,-.41,.19,1.44), 1.25s -webkit-transform cubic-bezier(.87,-.41,.19,1.44);
}

.head:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.head::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-radial-gradient(50% 50%, circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  -webkit-transform: rotateX(80deg) translateZ(-100px);
          transform: rotateX(80deg) translateZ(-100px);
  z-index: -1;
  -webkit-transition: all 1.25s cubic-bezier(.87,-.41,.19,1.44);
  transition: all 1.25s cubic-bezier(.87,-.41,.19,1.44);
}

.head:hover::before {
  -webkit-transform: rotateX(80deg) translateZ(-130px) scale(1.2);
          transform: rotateX(80deg) translateZ(-130px) scale(1.2);
}

.head::after {
  content: "";
  height: 65px;
  width: 114px;
  border-radius: 90px 90px 0 0;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.54) 0%, rgba(255, 224, 45, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.54) 0%, rgba(255, 224, 45, 0) 100%);
  display: block;
  top: 12px;
  left: 18px;
  position: absolute;
}

.eye {
  height: 34px;
  width: 23px;
  border-radius: 50%;
  background: -webkit-radial-gradient(at 50% 50%, saddlebrown 30%, #4d3017 100%);
  background: radial-gradient(at 50% 50%, saddlebrown 30%, #4d3017 100%);
  z-index: 99;
  box-shadow: 1px 1.5px 0px #ffff6f, -1px 1.5px 0px #ffff6f, inset -.5px -.5px 4px #331e0a,inset 0.5px 0.5px 4px #331e0a;
  position: absolute;
  -webkit-transform: scale(.7);
          transform: scale(.7);
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  top: 55px;
}

.head:hover .eye {
  -webkit-transform: none;
          transform: none;
}

.eye::after {
  content: "";
  height: 17px;
  width: 17px;
  position: absolute;
  left: 3px;
  border-radius: 7px 3px 11px 3px;
  top: 40px;
  -webkit-transform: rotateZ(45deg) rotateX(90deg);
          transform: rotateZ(45deg) rotateX(90deg);
  box-shadow: 0 0 0px #ffff6f, 0 0 0 #f9cc01, 0 0 0 rgb(255, 217, 0);
  background: -webkit-linear-gradient(#ffe02d, #ffcc01);
  background: linear-gradient(#ffe02d, #ffcc01);
  -webkit-transition: all .75s linear;
  transition: all .75s linear;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  visibility: hidden;
}

.head:hover .eye::after {
  visibility: visible;
  -webkit-transition: all .25s;
  transition: all .25s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  top: 20px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  box-shadow: -1px -1px 0px #ffff6f, 2px 5px 7px #f9cc01, 6px 1px 7px rgb(255, 217, 0);
}

.two {
  left: 28%;
}

.one {
  left: 59%;
}

.right-cheek {
  top: 66px;
  left: 111px;
}
.left-cheek {
  top: 66px;
  left: 13px;
}

.right-cheek, .left-cheek {
  width: 30px;
  height: 30px;
  background: -webkit-radial-gradient(50% 50%, rgba(244,67,54,0.3), transparent);
  background: radial-gradient(50% 50%, rgba(244,67,54,0.3), transparent);
  position: absolute;
  z-index: 6;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(.87,-0.41,.17,1.01);
  transition: -webkit-transform 1s cubic-bezier(.87,-0.41,.17,1.01);
  transition: transform 1s cubic-bezier(.87,-0.41,.17,1.01);
  transition: transform 1s cubic-bezier(.87,-0.41,.17,1.01), -webkit-transform 1s cubic-bezier(.87,-0.41,.17,1.01);
  -webkit-transition-delay: .0s;
          transition-delay: .0s;
}

.head:hover .right-cheek, .head:hover .left-cheek {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.upperlip {
  display: block;
  width: 56%;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 44%;
  z-index: 5;
  left: 23%;
  background: -webkit-linear-gradient(#ffe02d 30%, #f7bc01 100%);
  background: linear-gradient(#ffe02d 30%, #f7bc01 100%);
  box-shadow: 0px 4px 0 -3px transparent, -10px -3px 7px -6px #fee02d, 10px -2px 8px -6px #ffe02d;
  -webkit-transform: scale(.9) translateY(20px) rotateX(90deg);
          transform: scale(.9) translateY(20px) rotateX(90deg);
  -webkit-transition: .8s all cubic-bezier(.87,-0.1,.17,1.01);
  transition: .8s all cubic-bezier(.87,-0.1,.17,1.01);
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.head:hover .upperlip {
  -webkit-transform: scale(1.3) rotateX(0deg);
          transform: scale(1.3) rotateX(0deg);
  box-shadow: 0px 4px 0 -3px #ffff6f, -10px -3px 7px -6px #fee02d, 10px -2px 8px -6px #ffe02d;
  background: -webkit-linear-gradient(#ffe02d 30%, #ffc819 100%);
  background: linear-gradient(#ffe02d 30%, #ffc819 100%);
}

.upperlip::after {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  left: 76.7px;
  background: transparent;
  position: absolute;
  content: "";
  top: 23.8px;
  box-shadow: 0.5px -1px 0px transparent, 0.5px -0.5px 0px transparent, 0.5px -0.5px 0px transparent, 1.25px -1.7px 0px transparent, 2px -4px 1px transparent, -1px 1px 2px transparent;
  -webkit-transform: scale(0) translateX(-8px);
          transform: scale(0) translateX(-8px);
  -webkit-transition: -webkit-transform left .25s;
  transition: -webkit-transform left .25s;
  transition: transform left .25s;
  transition: transform left .25s, -webkit-transform left .25s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.head:hover .upperlip::after {
  box-shadow: 0.5px -1px 0px #ffff6f, 0.5px -0.5px 0px #ffff6f, 0.5px -0.5px 0px #ffff6f,  2px -3px 1px 1px #FDD000, -1px 1px 2px #613d1e;
  -webkit-transform: none;
          transform: none;
  background: #613d1e;
  -webkit-transition-delay: .65s;
          transition-delay: .65s;
}

.upperlip::before {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  left: 4.4px;
  background: transparent;
  position: absolute;
  content: "";
  top: 23.8px;
  box-shadow: -0.5px -1px 0px transparent, -0.5px -0.5px 0px transparent, -0.5px -0.5px 0px transparent, -1.4px -2px 0px transparent, -2px -4px 1px transparent, 1px 1px 2px transparent;
  -webkit-transform: scale(0) translateX(8px);
          transform: scale(0) translateX(8px);
  -webkit-transition: -webkit-transform left .25s;
  transition: -webkit-transform left .25s;
  transition: transform left .25s;
  transition: transform left .25s, -webkit-transform left .25s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.head:hover .upperlip::before {
  -webkit-transform: none;
          transform: none;
  left: 4.32px;
  background: #613d1e;
  box-shadow: -0.5px -1px 0px #ffff6f, -0.5px -0.5px 0px #ffff6f, -0.5px -0.5px 0px #ffff6f, -1.5px -2px 0px 1px #fdd000, -2px -4px 1px #ffd000, 1px 1px 2px #613d1e;
  -webkit-transition-delay: .65s;
          transition-delay: .65s;
}

.mouth {
  background: #ffff6f;
  position: absolute;
  border-radius: 5px;
  width: 52%;
  height: 10px;
  top: 65%;
  right: 23%;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 1s cubic-bezier(.87,-.41,.19,1.44);
  transition: all 1s cubic-bezier(.87,-.41,.19,1.44);
  overflow: hidden;
}

.head:hover .mouth {
  background: #ffff6f;
  position: absolute;
  border-radius: 6px 6px 90px 90px;
  height: 26%;
  top: 59%;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 1s cubic-bezier(.87,-0.41,.17,1.01);
  transition: all 1s cubic-bezier(.87,-0.41,.17,1.01);
  overflow: hidden;
}

.mouth::after {
  position: absolute;
  content: "";
  top: 9%;
  right: 1.5%;
  width: 97%;
  height: 81%;
  border-radius: 5px;
  background: -webkit-radial-gradient(at 50% 50%, saddlebrown 30%, #4d3017 88%);
  background: radial-gradient(at 50% 50%, saddlebrown 30%, #4d3017 88%);
  -webkit-transition: all 1s cubic-bezier(.87,-.41,.19,1.44);
  transition: all 1s cubic-bezier(.87,-.41,.19,1.44);
}

.head:hover .mouth::after {
  top: 2%;
  right: 1%;
  border-radius: 6px 6px 90px 90px;
  width: 98%;
  height: 97%;
}

.mouth::before {
  content: "";
  width: 80%;
  position: absolute;
  height: 76%;
  border-radius: 50%;
  background: #613916;
  top: -10px;
  z-index: 4;
  left: 8px;
  box-shadow: inset 0px -47px 0px -37px white;
  -webkit-transition: top 1s;
  transition: top 1s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.head:hover .mouth::before {
  top: -2px;
}


/* Spinners */


.showbf {
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.box1, .box2 {
  top: 0px;
  position: absolute;
}

.box1 {
  left: 15%;
}

.container {
  height: 400px;
  border: none;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.cube {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.cube .face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.face:hover {
  outline: 2px dodgerblue dashed;
  border: none;
  background-color: rgba(100,149,237,.8);
}

.rfront {
  background: rgba(23,69,214,0.7);
}

.front {
  background: url('./images/M1-67_&_WR124.png');
  background-size: cover;
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

.rotating .container:hover .front {
  border: 2px solid white;
	-webkit-transform: translateZ(275px);
	        transform: translateZ(275px);
}

.rback {
  background: rgba(0, 255, 0, .7);
}

.back {
  background: url('./images/internship-blackhole.png');
  background-size: cover;
  color: black;
  -webkit-transform: rotateY(180deg) translateZ(100px);
          transform: rotateY(180deg) translateZ(100px);
}

.rotating .container:hover .back {
  border: 2px solid white;
  -webkit-transform: rotateY(180deg) translateZ(275px);
          transform: rotateY(180deg) translateZ(275px);

}

.rright {
  background: rgba(196, 0, 0, 0.7);
}

.right {
  background: url("./images/1purple_starry_sky.png");
  background-size: cover;
  -webkit-transform: rotateY(-270deg) translateZ(100px);
          transform: rotateY(-270deg) translateZ(100px);
}

.rotating .container:hover .right {
  border: 2px solid white;
  -webkit-transform: rotateY(-270deg) translateZ(275px);
          transform: rotateY(-270deg) translateZ(275px);

}

.rleft {
  background: rgba(0, 196, 164, 0.7);
}

.left {
  background: url('./images/brightstars.png');
  background-size: cover;
  -webkit-transform: rotateY(270deg) translateZ(100px);
          transform: rotateY(270deg) translateZ(100px);
}

.rotating .container:hover .left {
  border: 2px solid white;
  -webkit-transform: rotateY(270deg) translateZ(275px);
          transform: rotateY(270deg) translateZ(275px);
}

.rtop {
  background: rgba(196, 196, 0, 0.7);
}

.top {
  background: url('./images/darkstarry.png');
  background-size: cover;
  -webkit-transform:rotateX(-270deg) translateZ(100px);
          transform: rotateX(-270deg) translateZ(100px);
}

.rotating .container:hover .top {
  border: 2px solid white;
  -webkit-transform:rotateX(-270deg) translateZ(275px);
          transform: rotateX(-270deg) translateZ(275px);
}

.rbottom {
  background: rgba(196, 0, 196, 0.7);
}

.bottom {
  background: url('./images/treestars.png');
  background-size: cover;
  -webkit-transform:rotateX(270deg) translateZ(100px);
  transform: rotateX(270deg) translateZ(100px);
}

.rotating .container:hover .bottom {
  border: 2px solid white;
  -webkit-transform:rotateX(270deg) translateZ(275px);
	transform: rotateX(270deg) translateZ(275px);
}

@-webkit-keyframes rotate {
  from {-webkit-transform: rotateX(0deg) rotateY(0deg);transform: rotateX(0deg) rotateY(0deg);}
  to {-webkit-transform: rotateX(360deg) rotateY(360deg);transform: rotateX(360deg) rotateY(360deg);}
}

@keyframes rotate {
  from {-webkit-transform: rotateX(0deg) rotateY(0deg);transform: rotateX(0deg) rotateY(0deg);}
  to {-webkit-transform: rotateX(360deg) rotateY(360deg);transform: rotateX(360deg) rotateY(360deg);}
}

.rotating .container .cube {
  -webkit-transform: rotate 20s infinite linear;
          transform: rotate 20s infinite linear;
  -webkit-animation: rotate 20s infinite linear;
          animation: rotate 20s infinite linear;
}

/* layered-spinner */

.section4, .layered-spinner {
  contain: none;
  background-position: 0% 0%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('./images/stars4.jpg');
}

.spinner-container {
  -webkit-perspective: 800px;
          perspective: 800px;
  margin: 200px 0px;
}

.spinner {
  margin: auto;
  position: relative;
  display: block;
  position: relative;
  margin: 30px auto;
  background-blend-mode: luminosity;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  background-image: url('./images/css_darkblue.png');
  background-size: cover;
 }

 .spinner:hover {
   -webkit-animation: animate-y 5s infinite linear;
           animation: animate-y 5s infinite linear;
 }

@-webkit-keyframes animate-y {
  0% { -webkit-transform: rotateY(0); transform: rotateY(0); }
  100% { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }
}

@keyframes animate-y {
  0% { -webkit-transform: rotateY(0); transform: rotateY(0); }
  100% { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }
}

.spinner, #front, #back {
  height: 256px;
  width: 256px;
}

#front, #back {
  position: absolute;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

#front {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

#back {
  -webkit-transform: translateZ(-100px);
  transform: translateZ(-100px);
}


figure {
  font-weight: 600;
}

.rotating {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 10%;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  margin-left: -80px;
  margin-top: -117px;
}


.button {
	background-color:#3bb3e0;
	font-family: 'Catamaran';
	font-size: xx-large;
  z-index: 100;
	color:#fff;
	position:relative;
	padding:10px 30px;
	border-left:2px solid #2ab7ec;
  border-right: 2px solid #2b9bc5;
	background-image: -webkit-linear-gradient(rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: linear-gradient(rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 13px 5px #282b4a;
	cursor: pointer;
}

.button:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
  border-left: none;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 13px 5px #232642;
}

.button:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
  border-right: none;
	box-shadow: inset 0px 2px 2px #2ab7ec, 0px 5px 0px 0px #156785, 4px 10px 5px #282b4a, 0px 13px 5px #282b4a
}

.button:active {
	top:3px;
	background-image: -webkit-linear-gradient(rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: linear-gradient(rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  border-left: 2px solid #0b698b;
  border-right: 2px solid #2b9bc5;
	box-shadow: inset 0px 1px 0px #2ab7ec, inset 5px 0px 5px #0b698b, 0px 2px 0px 0px #156785, 0px 6px 3px #282b4a;
}

.button:active:first-child {
  border-left: none;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #282b4a;
}

.button:active:last-child {
  border-right: none;
	box-shadow: inset 0px 1px 0px #2ab7ec, inset 5px 0px 5px #0b698b, 0px 2px 0px 0px #156785, 1px 4px 5px #282b4a, 0px 4px 3px #282b4a;
}


.box {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.show-back {
  -webkit-transform: rotateX(-180deg) translateY(200px) translateZ(50px) translatex(10px);
  transform: rotateX(-180deg) translateY(200px) translateZ(50px) translatex(10px);
}

.show-front {
  -webkit-transform: translateZ(-50px) translatex(11px);
  transform: translateZ(-50px) translatex(11px);
}

.show-bottom {
  -webkit-transform: rotateX(90deg) translatez(100px) translatex(7px);
  transform: rotateX(90deg) translatez(100px) translatex(7px);
}

.show-top {
  -webkit-transform: translatez(-200px) translatey(-106px) translatex(7px) rotateX(-90deg);
  transform: translatez(-200px) translatey(-106px) translatex(7px) rotateX(-90deg);
}

.show-right {
  -webkit-transform: rotateY(-90deg) rotateX(90deg) translatey(137px) translatez(100px);
  transform: rotateY(-90deg) rotateX(90deg) translatey(137px) translatez(100px);
}

.show-left {
  -webkit-transform: rotateY(90deg) rotateX(90deg) translatey(58px) translatez(100px) translatex(100px);
  transform: rotateY(90deg) rotateX(90deg) translatey(58px) translatez(100px) translatex(100px);
}

.rface {
  display: block;
  position: absolute;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  text-align: center;
  font-size: x-large;
}

.rfront, .rback, .rtop, .rbottom {
  width: 300px;
}

#flip3 {
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  margin-top: 43px;
}

#flip4 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  margin-top: 43px;
}

.rfront, .rback, .rleft, .rright {
  height: 200px;
}

.rleft, .rright {
  width: 100px;
  left: 100px;
}

.rtop, .rbottom {
  height: 100px;
  top: 50px;
  line-height: 35px;
}

.rfront, .rback {
  line-height: 70px;
}

.rfront {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}

.rback {
  -webkit-transform: rotateX(180deg) translateZ(50px);
  transform: rotateX(180deg) translateZ(50px);
}

.rtop {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
}

.rbottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  transform: rotateX(-90deg) translateZ(100px);
}

.rleft {
  -webkit-transform: rotateY(-90deg) translateZ(150px);
  transform: rotateY(-90deg) translateZ(150px);
}

.rright {
  -webkit-transform: rotateY(90deg) translateZ(150px);
  transform: rotateY(90deg) translateZ(150px);
}

/* nav bars */


.goo-container {
  position: absolute;
  z-index: 2;
  top: 25%;
}

@media (min-width: 450px) {
  .goo-container {
    left: 65%;
  }
}

.gooey-title {
  margin: 0px;
  color: #6082B6;
  font-size: 8em;
  z-index: 99;
  text-shadow: 0px 2px 4px black;
}

.nav-links {
  margin-left: -59px;
  z-index: 99;
}

.nav-link, .open-menu-button {
  background-color: dodgerblue;
  border-radius: 100%;
  font-weight: 600;
  font-size: 20px;
  height: 90px;
  width: 90px;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  position: absolute;
  -webkit-transform: translateX(0px) translate3d(0,0,0);
          transform: translateX(0px) translate3d(0,0,0);;
}

.nav-link {
  -webkit-transition: -webkit-transform ease-out 300ms;
  transition: -webkit-transform ease-out 300ms;
  transition: transform ease-out 300ms;
  transition: transform ease-out 300ms, -webkit-transform ease-out 300ms;
}

.open-menu {
  display: none;
}

.open-menu-button {
  cursor: pointer;
  z-index: 5;
  cursor: pointer;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-link:nth-child(3) {
  z-index: 4;
}

.nav-link:nth-child(4) {
  z-index: 3;
}

.nav-link:nth-child(5) {
  z-index: 2;
}

.nav-link:nth-child(6) {
  z-index: 1;
}

.open-menu:checked ~ .open-menu-button {
  -webkit-transform: scale(.65) translate3d(0,0,0);
          transform: scale(.65) translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.open-menu:checked ~ .open-menu-button:hover {
  -webkit-transform: scale(.75) translate3d(0,0,0);
          transform: scale(.75) translate3d(0,0,0);
}

.open-menu-button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.minus {
  height: 9px;
  width: 25px;
  background-color: white;
  display: block;
  position: absolute;
  border-radius: 5px;
  top: 46%;
  left: 36%;
}

.plus {
  height: 25px;
  width: 9px;
  background-color: white;
  display: block;
  position: absolute;
  border-radius: 5px;
  top: 36.25%;
  left: 45%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.plus-hide {
  height: 8px;
  top: 46%;
}

.nav-link {
  line-height: 5;
  color: white;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 0 0px #198bfa;
}

.section6 {
  position: relative;
  contain: none;
  background-color: #a3dbf4;
}

.open-menu:checked ~ .nav-link:nth-child(3) {
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transform: translateX(125px);
          transform: translateX(125px);
}

.open-menu:checked ~ .nav-link:nth-child(3):hover {
  -webkit-transform: translateX(125px) scale(1.1);
          transform: translateX(125px) scale(1.1);
}

.open-menu:checked ~ .nav-link:nth-child(4) {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
}

.open-menu:checked ~ .nav-link:nth-child(4):hover {
  -webkit-transform: translateX(250px) scale(1.1);
          transform: translateX(250px) scale(1.1);
}

.open-menu:checked ~ .nav-link:nth-child(5) {
  -webkit-transition-duration: 450ms;
          transition-duration: 450ms;
  -webkit-transform: translateX(375px);
          transform: translateX(375px);
}

.open-menu:checked ~ .nav-link:nth-child(5):hover {
  -webkit-transform: translateX(375px) scale(1.1);
          transform: translateX(375px) scale(1.1);
}

.open-menu:checked ~ .nav-link:nth-child(6) {
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
}

.open-menu:checked ~ .nav-link:nth-child(6):hover {
  -webkit-transform: translateX(500px) scale(1.1);
          transform: translateX(500px) scale(1.1);
}

/* space */

.space {
  margin: auto;
  width: 100%;
  height: 100vh;
  background: url('./images/x-wing.png') no-repeat center 150px, url('./images/stars2.jpg'), no-repeat top left;
  -webkit-transition: background-position 8s;
  transition: background-position 8s;
}

.space:hover {
  background-position: 400px 350px, bottom left;
}

/* code snippets */

.code-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  margin: 25% auto auto auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  margin-bottom: 16px;

}


.code-pane {
  padding: 0 5px;
  -webkit-transform: perspective(1000px)  rotatex(0deg);
          transform: perspective(1000px)  rotatex(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: top;
          transform-origin: top;
}


@-webkit-keyframes fall-down  {
  0% {
    -webkit-transform: none;
            transform: none;
  }

  20% {
    -webkit-transform: scale(1.1) translateY(-30px);
            transform: scale(1.1) translateY(-30px);
  }

  40% {
    -webkit-transform: scale(1.1) translateY(100vh);
            transform: scale(1.1) translateY(100vh);
  }

  41% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}


@keyframes fall-down  {
  0% {
    -webkit-transform: none;
            transform: none;
  }

  20% {
    -webkit-transform: scale(1.1) translateY(-30px);
            transform: scale(1.1) translateY(-30px);
  }

  40% {
    -webkit-transform: scale(1.1) translateY(100vh);
            transform: scale(1.1) translateY(100vh);
  }

  41% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

.fall {
  -webkit-animation: 1.5s fall-down;
          animation: 1.5s fall-down;
}

.code-snip {
  position: absolute;
  top: 0;
  width: 98%;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform .75s cubic-bezier(.24,1.61,.35,.89);
  transition: -webkit-transform .75s cubic-bezier(.24,1.61,.35,.89);
  transition: transform .75s cubic-bezier(.24,1.61,.35,.89);
  transition: transform .75s cubic-bezier(.24,1.61,.35,.89), -webkit-transform .75s cubic-bezier(.24,1.61,.35,.89);
}

.show {
  -webkit-transform: none;
          transform: none;
}

.code-button {
  color: white;
}

.section1 .code-button {
  color: #ffebc6;
}

.code-button {
  position: relative;
  padding: 10px 0 10px 0;
  width: 25%;
  text-align: center;
  cursor: pointer;
}

code {
  max-height: 350px;
}

pre {
  margin-top: 0px;
}

pre a {
  color: cornflowerblue;
}

div[data-screen="four"] .code-button,
div[data-screen="two"] .code-button {
  width: 33%;
}

div[data-screen="one"] .code-button {
  border-left: 2px solid #65320a;
  border-right: 2px solid #351a05;
  background-image: -webkit-linear-gradient(#351a05 0%, #65320a 100%);
  background-image: linear-gradient(#351a05 0%, #65320a 100%);
  box-shadow: 0px 5px 0px 0px #3e1d05, 3px 9px 5px #2d1818;
}

div[data-screen="one"] .code-button:last-child {
  box-shadow: 0px 5px 0px 0px #3e1d05, 3px 9px 5px #2d1818;
}

div[data-screen="one"] .code-button:active {
  background-image: -webkit-linear-gradient(#65320a 0%, #351a05 100%);
  background-image: linear-gradient(#65320a 0%, #351a05 100%);
  box-shadow: inset 5px 0px 5px #2d1818, 0px 2px 0px 0px #3e1d05, 1px 4px 3px #2d1818;
}

div[data-screen="one"] .code-button:active {
  background-image: -webkit-linear-gradient(#65320a 0%, #351a05 100%);
  background-image: linear-gradient(#65320a 0%, #351a05 100%);
  box-shadow: 0px 2px 0px 0px #3e1d05, 1px 4px 3px #2d1818;
}

div[data-screen="two"] .code-button {
    border-left: 2px solid #4d720e;
    border-right: 2px solid #b7eb5d;
    background: -webkit-linear-gradient(#93d422 0%, #7bb31a 100%);
    background: linear-gradient(#93d422 0%, #7bb31a 100%);
    box-shadow: inset 0px 1px 0px #93d422, 0px 5px 0px 0px #456211, 3px 9px 3px #1f2f03;
}

div[data-screen="two"] .code-button:last-child {
  box-shadow: 0px 5px 0px 0px #456211, 3px 9px 5px #1f2f03;
  border-right: none;
}

div[data-screen="two"] .code-button:active {
  background-image: -webkit-linear-gradient(#7bb31a 0%, #93d422 100%);
  background-image: linear-gradient(#7bb31a 0%, #93d422 100%);
  box-shadow: inset 7px 0px 5px -2px #4d720e, 0px 2px 0px 0px #456211, 1px 4px 3px #1f2f03;
  border-right: 2px solid #86c21e;
}

div[data-screen="two"] .code-button:first-child {
  border-left: none;
}

div[data-screen="two"] .code-button:first-child:active {
  box-shadow: 0px 2px 0px 0px #4d720e, 1px 4px 3px #1f2f03;
  border-right: 2px solid #86c21e;

}

div[data-screen="two"] .code-button:last-child:active {
  box-shadow: inset 7px 0px 5px -2px #4d720e, 0px 2px 0px 0px #456211, 0px 4px 5px #1f2f03, 0px 4px 3px #1f2f03;
}

div[data-screen="three"] .code-button {
  border-left: 2px solid #08042d;
  border-right: 2px solid #1e0944;
  background-image: -webkit-linear-gradient(#1e0944 0%, #0d0744 100%);
  background-image: linear-gradient(#1e0944 0%, #0d0744 100%);
  box-shadow: 0px 5px 0px 0px #02011b, 3px 9px 5px #03041b;
}

div[data-screen="three"] .code-button:last-child {
  box-shadow: 0px 5px 0px 0px #02011b, 3px 9px 5px #03041b;
}

div[data-screen="three"] .code-button:active {
  background-image: -webkit-linear-gradient(#0d0744 0%, #1e0944 100%);
  background-image: linear-gradient(#0d0744 0%, #1e0944 100%);
  box-shadow: inset 5px 0px 5px #130d27, 0px 2px 0px 0px #02011b, 1px 4px 3px #03041b;
}

div[data-screen="three"] .code-button:first-child:active {
  box-shadow: 0px 2px 0px 0px #02011b, 1px 4px 3px #03041b;
}

div[data-screen="four"] .code-button, div[data-screen="seven"] .code-button {
  border-left: 2px solid rgba(88, 85, 88, 0.13);
  border-right: 1px solid rgb(0, 0, 0);
  background-image: -webkit-linear-gradient(rgba(13, 7, 68, 0.3) 0%, rgba(88, 85, 88, 0.3) 100%);
  background-image: linear-gradient(rgba(13, 7, 68, 0.3) 0%, rgba(88, 85, 88, 0.3) 100%);
  box-shadow: 0px 5px 0px 0px #02011b, 3px 9px 5px #03041b;
}

div[data-screen="four"] .code-button:last-child, div[data-screen="seven"] .code-button:last-child {
  box-shadow: 0px 5px 0px 0px #02011b, 3px 9px 5px #03041b;
}

div[data-screen="four"] .code-button:active {
  border-left: 2px solid rgba(88, 85, 88, 0.13);
  border-right: 1px solid rgb(0, 0, 0);
  background-image: -webkit-linear-gradient(rgba(13,7,68,.1) 0%, rgba(30,9,68,.1) 100%);
  background-image: linear-gradient(rgba(13,7,68,.1) 0%, rgba(30,9,68,.1) 100%);
  box-shadow: inset 5px 0px 5px #130d27, 0px 2px 0px 0px #02011b, 1px 4px 3px #03041b;
}

div[data-screen="seven"] .code-button:active {
  border-left: 2px solid rgba(88, 85, 88, 0.13);
  border-right: 1px solid rgb(0, 0, 0);
  background-image: -webkit-linear-gradient(rgba(13,7,68,.1) 0%, rgba(30,9,68,.1) 100%);
  background-image: linear-gradient(rgba(13,7,68,.1) 0%, rgba(30,9,68,.1) 100%);
  box-shadow: 0px 2px 0px 0px #02011b, 1px 4px 3px #03041b;
}

div[data-screen="four"] .code-button:first-child:active, div[data-screen="seven"] .code-button:first-child:active {
  box-shadow: 0px 2px 0px 0px #02011b, 1px 4px 3px #03041b, -4px 4px 3px #03041b;
}

div[data-screen="five"] .code-button {
  border-left:2px solid #2ab7ec;
  border-right: 2px solid #2b9bc5;
  background-image: -webkit-linear-gradient(rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: linear-gradient(rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 9px 3px #282b4a;
}

div[data-screen="five"] .code-button:first-child {
  border-left: none;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 9px 3px #232642;
}

div[data-screen="five"] .code-button:last-child {
  border-right: none;
  box-shadow: inset 0px 2px 2px #2ab7ec, 0px 5px 0px 0px #156785, 4px 10px 5px #282b4a, 0px 9px 3px #282b4a
}

div[data-screen="five"] .code-button:active {
  top:3px;
  background-image: -webkit-linear-gradient(rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  background-image: linear-gradient(rgb(62,184,229) 0%, rgb(44,160,202) 100%);
  border-left: 2px solid #0b698b;
  border-right: 2px solid #2b9bc5;
  box-shadow: inset 0px 1px 0px #2ab7ec, inset 5px 0px 5px #0b698b, 0px 2px 0px 0px #156785, 0px 4px 3px #282b4a;
}

div[data-screen="five"] .code-button:first-child:active {
  border-left: none;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 4px 3px #282b4a;
}

div[data-screen="five"] .code-button:last-child:active {
  border-left: none;
  box-shadow: inset 0px 1px 0px #2ab7ec, inset 5px 0px 5px #0b698b, 0px 2px 0px 0px #156785, 1px 4px 5px #282b4a, 0px 4px 3px #282b4a;
}

.code-button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: none;
}

.code-button:active {
  top: 3px;
}

.code-button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left: none;
}

@media (max-width: 415px) {

  .mobile-buttons {
    display: block;
  }

  figure {
    -webkit-transform: scale(.6);
            transform: scale(.6);
  }

  .contents {
    display: none;
  }

  .head {
    transform: scale(1);
  }

  .head:hover {
    transform: scale(1.6)
  }

  .buttons {
    margin-left: 0%;
    transform: scale(1.4)
  }

  figure:not(.rotating) .container {
    margin-left: 17%;
  }

  .goo-container {
    left: -7%;
    top: -5%;
  }

  .nav-links {
    transform: translatey(95%) rotateZ(90deg);
  }

  .gooey-title {
    transform: scale(.8);
  }

  .nav-links i.material-icons, .nav-links img {
    transform: rotateZ(-90deg);
  }
}

@media (max-width: 390px) {
  .buttons {
    transform: scale(1.25);
  }

  .goo-container {
    left: -18%;
    top: -5%;
    transform: scale(.8);
  }
}

@media (max-width: 350px) {
  .buttons {
    transform: scale(1.1);
  }

  .goo-container {
    left: -24%;
    top: -5%;
    transform: scale(.8)
  }
}
